{% extends "registration/base.html" %}
{% load i18n %}

{% block registration_content %}
<h5 class="registration-title">{% trans 'Reset your password' %}</h5>
<p class="registration-messages">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
<form method="post">{% csrf_token %}
    <div class="form-row">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="form-row">
        {{ form.email.errors }}
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary">{% trans 'Reset your password' %}</button>
    </div>
    </p>
</form>

{% endblock %}
