{% extends "registration/base.html" %}
{% load i18n %}

{% block registration_content %}

{% if validlink %}
<form method="post">
	<h5 class="registration-title">{% trans 'Choose a new password' %}</h5>
    <p class="registration-messages">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    {% csrf_token %}
    <div class="form-row">
        {{ form.new_password1.label_tag }} 
        {{ form.new_password1 }}
    </div>
    <div class="form-row">
        {{ form.new_password2.label_tag }} 
        {{ form.new_password2 }}
    </div>
    <div class="form-row">
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
    </div>
</form>
{% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}

{% endblock %}
