@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2);
}

body {
    margin: 0px;
    background-color: var(--white-2);
    color: var(--black-1);
    font-family: 'Montserrat';
}

:root {
    --white-1: #FFFFFF;
    --white-2: #f0f2f5;
    --black: #000000;
    --yellow: #FFFF00;
    --blue-1: #06bcf5;
    --blue-2: #007bff;
    --red-1: #c0392b;
    --red-2: #FF0000;
    --red-3: #f2dede;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

a {
    color: var(--blue-2);
    text-decoration: none;
}

a:hover {
    color: var(--blue-1);
    text-decoration: none
}

/* STYLING FOR INPUT ELEMENTS */
input {
    border-radius: 2px;
    border: 1px solid var(--blue-1);
    background: var(--white-1);
    padding: .375rem .75rem;
    cursor: unset;
}
.white-theme input {
    border-radius: 2px;
    border: 1px solid var(--blue-1);
    background: var(--white-2);
    padding: .375rem .75rem;
    cursor: unset;
}

input[type=text]:focus, [type=email]:focus, [name=messages]:focus {
    z-index: 2;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px var(--blue-2);
    border-radius: 4px;
    position: sticky;
}

/* BUTTONS STYLES */
.btn-default {
    background-color: var(--white-2);
    border-color: var(--blue-1);
}

.btn-default:hover {
    background-color: var(--white-1);
}

.btn-primary {
    color: var(--white-1);
    background-color: var(--blue-2);
    border-color: var(--blue-1);
}

.btn-primary:hover {
    background-color: var(--blue-1);
    border-color: var(--blue-2);
}

.btn-warning {
    color: var(--white-1);
    background-color: var(--red-2);
    border-color: var(--red-3);
}

.btn-warning:hover {
    color: var(--white-1);
    background-color: var(--red-1);
    border-color: var(--red-2);
}
.gray-theme {
	padding: 36px;
}

/* SPECIFIC COLORS SCHEME FOR WHITE THEME */
.white-theme {
    background-color: var(--white-1);
    padding: 36px;
}

.white-theme .btn-default {
    background-color: var(--white-1);
    border-color: var(--blue-1);
}

.white-theme .btn-default:hover {
    background-color: var(--white-2);
}