@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa_Thin.woff2);
}

body {
    margin: 0px;
    color: #000000c7;
    font-family: 'Montserrat';
    background-color: #f0f2f5;
}

#mapid { 
    height: 450px; 
    margin-bottom: 30px;
}

.view-map {
    margin: 0px;
}

.logo {
    font-size: 46px;
}

.text {
    font-size: 18px;
}

.add-journey {
    float: right;
    background-color: white;
    color: #0062cc;
}

.list-users {
    position: sticky;
    height: 100%;
    top: 75px;
    margin-top: 25px;
}

span.person-name {
    padding: 8px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
}

/* CREATE FORM */

.form-group {
    color: #555;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2px;
}

select#id_creator {
    inline-size: auto;
    padding: 10px;
    margin: 5px;
    background: #e5e5e56b;
    border-radius: 5px;
    padding: 3px 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

input#id_date_0 {
    inline-size: auto;
    border-radius: 5px;
    padding: 3px 22px;
    font-size: 16px;
    color: #555;
}

input#id_date_1 {
    inline-size: auto;
    border-radius: 5px;
    padding: 3px 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

span.ui-icon.ui-icon-circle-triangle-w, span.ui-icon.ui-icon-circle-triangle-e {
    display: contents;
}

input#id_title {
    border-radius: 5px;
    padding: 3px 22px;
    font-size: 16px;
}

input#id_image_trip {
    inline-size: auto;
    background: #e5e5e56b;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}

.form-row {
    background: #c2c6c221;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

textarea.form-control {
    height: 20%;
}

.form-group.col-12 {
    max-width: 117%;
    margin-top: 19px;
}

.form-group-button {
    margin: 29px;
    margin-left: 30px;
    max-width: ;
}

a.btn.btn-default.btn-lg {
    margin-left: 25px;
    border-radius: 7px;
    padding: 8px;
    border-radius: 7px;
    background-color: darkgrey;
    font-family: auto;
}

button.btn.btn-success.btn-lg {
    font-family: auto;
}

img.gallery-img {
    max-width: 100%;
    height: auto;
}

input[type=text] {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-md-6.search-journey {
    line-height: 2;
}

.row.navbar-journey {
    border-radius: 4px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background: #ffffff;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 15px;
}

.display-all-post {
    padding: 0px;
    margin-top: 25px;
}

.each-upload {
    border-radius: 4px;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 14px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.footer {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid #ffffff;
    margin: 75px;
    margin-bottom: 0px;
    line-height: 3;
}

/* set font-family for every h3 to use comfortaa */
h3 {
    font-family: 'Comfortaa';
}

.trip-text {
    font-weight: 600;
}

.text-muted {
    font-size: 12px;
}
a.logo {
    font-size: 25px;
    font-weight: bold;
}

.dropdown-edit-and-delete {
    float: right;
}

.edit-and-delete-toggle::after {
    display: inline-block;
    content: '\2807';
	font-size: 2em;
    color: #828282;
    border-top: unset;
}

li.hover-list {
	padding-left: 12px;
    padding-right: 12px;
    line-height: 2;
}
li.hover-list:hover a {
    text-decoration: none;
}

li.hover-list:hover {
    background-color: rgba(0,0,0,.075);
}

a.btn.btn-primary.timorgis-login {
    background-color: white;
    color: #0062cc;
    padding-top: 4px;
    padding-bottom: 4px;
}

ul.dropdown-menu.show {
    min-width: 100%;
}

ul.dropdown-menu.show {
    font-size: 13px;
    padding: 16px;
    line-height: 2;
}

ul.dropdown-menu.show > li:hover {
    background-color: rgba(0,123,255,.25);
}

a:hover {
    color: #0056b3;
}

a:hover {
    color: #117a8b;
    text-decoration: none;
}

.cont-modal {
    margin-top: 50px;
}

.button-modal {
    float: right;
    background-color: white;
    color: #0062cc;
}

.active {
    color: black!important;
    font-weight: bold;
}

input {
    border: 2px solid #0062cc;
    color: #0062cc;
    background-color: white;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    cursor:pointer;
}

.group-upload {
    margin-top: 50px;

.delete-journey {
    border: 1px solid #f8f9fa;
    box-shadow: 0 16px 48px #adb5bd;
}

.form-delete {
    margin-bottom: 0px;
}

.cancel-delete {
    border-color: var(--gray);
    background-color: white;
    color: var(--gray);
}

.cancel-delete:hover {
    color: #f8f9fa;
    background-color: #adb5bd;
    border-color: #adb5bd;
}

.btn-danger:hover {
    color: #fff;
    background-color: #ff0019;
    border-color: #ff0019;
}

.active {
    color: black;
}

a:hover {
    text-decoration: none;
}
