body {
    margin: 0px;
    color: #000000c7;
    font-family: 'Montserrat';
}

#mapid { 
    height: 450px; 
    margin-bottom: 30px;
}

.view-map {
    margin: 0px;
}

.logo {
    font-size: 46px;
}

.text {
    font-size: 18px;
}

.add-journey {
    float: right;
    background-color: white;
    color: #0062cc;
	margin-top: -39px;
}

.list-users {
    border-right: 1px solid #dee2e6;
    height: auto;
}

span.person-name {
    padding: 8px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
}

/* Create Form */

.form-group {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    color: #555;
    font-size: 15px;
    font-weight: 700;
    margin-left: 30px;
}

select#id_creator {
    inline-size: auto;
    padding: 10px;
    margin: 0px;
    background: #e5e5e56b;
    border-radius: 5px;
    padding: 3px 22px;
    font-size: 16px;
    color: #555;
}

input#id_date_0 {
    inline-size: auto;
    border-radius: 5px;
    padding: 3px 22px;
    font-size: 16px;
    color: #555;
}

input#id_date_1 {
    inline-size: auto;
    border-radius: 5px;
    padding: 3px 22px;
    font-size: 16px;
    color: #555;
}

input#id_title {
    inline-size: auto;
    border-radius: 5px;
    padding: 3px 22px;
    font-size: 16px;
}

input#id_image_trip {
    inline-size: auto;
    background: #e5e5e56b;
    margin: 3px;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}

.form-row {
    background: #c2c6c221;
    margin-left: 30px;
    margin-bottom: 30px;
}

.button-submit {
    background:#2b7be2;
    border-radius: 7px;
    margin-top: 0px;
    margin: 45px;
    inline-size: auto;
}

textarea.form-control {
    height: 25%;
}

.col-12 {
    max-width: 100%;
    margin-bottom: -125px;
}
