{% extends 'map/containered-base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'vue.global.js' %}"></script>

<div id="timorgis">
    <div class="images_container">

        <div v-for="item in items" class="image_card">
            <img src="/media/photos/3AA92B55-4CE5-4D1B-A967-0A1D98FA45AB_FlsuDPE.jpeg" width="200">
        </div>
    </div>

</div>
<style>
    .images_container {
        display: flex;
        flex-wrap: wrap;
    }
    .image_card {
        margin: 5px;
    }
</style>
<script>
    const TimorGis = {
        data() {
            return {
                items: new Array(40)
            }
        },
        delimiters: ['[[', ']]'],
    }

    Vue.createApp(TimorGis).mount('#timorgis')
</script>
{% endblock %}