{% extends 'map/containered-base.html' %}
{% load static %}

{% block content %}

<script type="text/javascript" src="{% static 'main.js' %}"></script>
<!--
<div id="timorgis">
    <div class="images_container">

        <div v-for="item in items" class="image_card">
            <img src="/media/photos/3AA92B55-4CE5-4D1B-A967-0A1D98FA45AB_FlsuDPE.jpeg" width="200">
        </div>
    </div>
    <div id="mapInset">

    </div>
</div>
<style>
    .images_container {
        display: flex;
        flex-wrap: wrap;
    }
    .image_card {
        margin: 5px;
    }
    #mapInset {
        height: 300px;
        width: 500px;
        background-color: brown;
    }
</style>
<script>
    const TimorGis = {
        data() {
            return {
                items: [
                    { src:"", title:"", id:3},
                    { src:"", title:"", id:3},
                    { src:"", title:"", id:3},
                    { src:"", title:"", id:3},
                    { src:"", title:"", id:3},
                    { src:"", title:"", id:3},
                    { src:"", title:"", id:3},
                    { src:"", title:"", id:3},
                    { src:"", title:"", id:3},
                ]
            }
        },
        delimiters: ['[[', ']]'],
    }

    Vue.createApp(TimorGis).mount('#timorgis')
</script>
-->
{% endblock %}