
                <div class="each-upload">
                    
                    <h3><strong>testet</strong></h3>
                    <p class="text-muted">
                        From<span class="vertical-line"></span>Aug. 3, 2020 - Aug. 5, 2020
                    </p>
                    <p>wdwqwawdqw</p>
                    <!-- Large modal -->
                    

                    <div class="gallery">
                        
                        <figure>
                            <img src='/media/photos/B9C8A665-02E4-4069-ADB3-A20395DCD9B9.jpeg' class="gallery-img add-pointer" width="300" height="240" title="View full, change or delete this photo" data-toggle="modal" data-target="#photo-19">
                            <!-- Modal -->
                            <div class="modal fade" id="photo-19" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-light">
                                            
                                            <h6 class="modal-title trip-text">
                                                This photo was taken in Maubisse
                                            </h6>
                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <a href="/media/photos/B9C8A665-02E4-4069-ADB3-A20395DCD9B9.jpeg" target="_blank">
                                                <img src='/media/photos/B9C8A665-02E4-4069-ADB3-A20395DCD9B9.jpeg' class="gallery-img" title="View full" width="100%">
                                            </a>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/detail/viazen/7/19">info</a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </figure>
                        
                        <figure>
                            <img src='/media/photos/B02672A0-0C93-482E-B1EB-284EB49F4135_EHpeN3g.jpeg' class="gallery-img add-pointer" width="300" height="240" title="View full, change or delete this photo" data-toggle="modal" data-target="#photo-20">
                            <!-- Modal -->
                            <div class="modal fade" id="photo-20" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-light">
                                            
                                            <h6 class="modal-title trip-text">
                                                This photo was taken in Maubisse
                                            </h6>
                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <a href="/media/photos/B02672A0-0C93-482E-B1EB-284EB49F4135_EHpeN3g.jpeg" target="_blank">
                                                <img src='/media/photos/B02672A0-0C93-482E-B1EB-284EB49F4135_EHpeN3g.jpeg' class="gallery-img" title="View full" width="100%">
                                            </a>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/detail/viazen/7/20">info</a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </figure>
                        
                        <figure>
                            <img src='/media/photos/F329BEEA-A35B-4792-B21B-3D097BCB908D_0Sgh9cR.jpeg' class="gallery-img add-pointer" width="300" height="240" title="View full, change or delete this photo" data-toggle="modal" data-target="#photo-21">
                            <!-- Modal -->
                            <div class="modal fade" id="photo-21" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-light">
                                            
                                            <h6 class="modal-title trip-text">
                                                This photo was taken in Maubisse
                                            </h6>
                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <a href="/media/photos/F329BEEA-A35B-4792-B21B-3D097BCB908D_0Sgh9cR.jpeg" target="_blank">
                                                <img src='/media/photos/F329BEEA-A35B-4792-B21B-3D097BCB908D_0Sgh9cR.jpeg' class="gallery-img" title="View full" width="100%">
                                            </a>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/detail/viazen/7/21">info</a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </figure>
                        
                    </div>
                    <div class="modal fade read-more-7" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header bg-light">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <a href="/detail/viazen/7/0">
                                        <h5><b>testet</b></h5>
                                    </a>
                                    <p class="text-muted">
                                        From<span class="vertical-line"></span>Aug. 3, 2020 - Aug. 5, 2020
                                    </p>
                                    <p>wdwqwawdqw</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted">Created by Peter<span class="vertical-line"> Aug. 8, 2020, 1:18 a.m.</p>
                </div>
