{% extends 'map/base.html' %}
{% load static i18n %}

{% block title %}Timor Journey{% endblock %}

{% block content %}
    <style>
        #mapid {
            height: 100%;
        }
    </style>

    <div id="mapid"></div>

    <script>
        const url = "/en/api/districts/?format=json";
        //const districts = {{ districts|safe }};
        var timormap = L.map('mapid').setView({{ points.DEFAULT_CENTER }}, {{ points.DEFAULT_ZOOM }});
        L.tileLayer('{{ url_openstreetmap }}', { minZoom: 9, maxZoom: 18 }).addTo(timormap);
        $.getJSON(url,function(data){
            L.geoJSON(data, {
                style: function (feature) {
                    return {color: 'orange'};
                }
            }).bindPopup(function (layer) {
                var name = layer.feature.properties.name;
                    return 'Distritu: ' + name[0] + name.substr(1).toLowerCase();
            }).addTo(timormap);
        })
        {% for photo in images %}
            {% if photo.point %}
                L.marker([{{ photo.point.y }}, {{ photo.point.x }}]).bindPopup(
                    contentPopup(
                        {{photo.id}},
                        {{photo.istoriaviazen_id}},
                        '{{ photo.image.url|safe }}',
                        '{{ photo.district }}',
                        '{{ photo.subdistrict }}',
                        '{{ photo.suco }}',
                    )
                ).openPopup().addTo(timormap);
            {% endif %}
        {% endfor %}
        function contentPopup(photo_id, viazen_id, photo_url, district, subdistrict, suco){
            content = "<div class='container'><div class='row'><div class='col-md-5'><img src='"+ photo_url +" "+"' width='70'></div><div class='col-md-7'><b>"+ district+"</b>, "+ subdistrict +", "+ suco +"</br><a href='/detail/viazen/"+viazen_id+"/"+photo_id+"'>Detail</a></div></div></div>"
            return content
        }
    </script>
{% endblock %}
