<html>
    <head>
        {% load static %}
        {% load i18n %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/timor.css' %}">

        <!-- Make sure you put this AFTER Leaflet's CSS -->

        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Geo Timor</h2>
                    
                    <div id="mapid"></div>
                  
                    <script>
                        const districts = {{ districts|safe }};
                      
                        var mymap = L.map('mapid').setView([-8.8315139, 125.6199236,8], 8);
                        
                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar', attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'}).addTo(mymap);
                        
                        L.geoJSON(districts, {
                          style: function (feature) {
                            return {color: 'orange'};
                          }
                        }).bindPopup(function (layer) {
                          var name = layer.feature.properties.name;
                          return 'Distritu: ' + name[0] + name.substr(1).toLowerCase();
                        }).addTo(mymap);  

                        {%for photo in geoimages %}
                            L.marker([{{ photo.lat }}, {{ photo.lon }}]).bindPopup("<img src='{{photo.photo}}' width='100'>"+"</br><a target='_blank' href='https://www.google.com/maps?q={{photo.lat}},{{photo.lon}}'>Detail</a>").openPopup().addTo(mymap);
                        {%endfor%}
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
