
{% extends 'map/base.html' %}

{% block title %}Hatama photo istoria viazen {% endblock %}

{% block content %}
    <p>Hatama Photo Istoria Viazen</p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
        <input type="submit" value="Save">
        <a href="{% url 'home' %}">Skip</a> 
    </form>
    <script>
        const path = window.location.pathname.split('/');
        $("#id_istoriaviazen").val(path[1]);
    </script>
{% endblock %}
