
{% extends 'map/base.html' %}
{% load i18n %}

{% block title %}Hatama photo istoria viazen {% endblock %}

{% block content %}
    <p>Hatama Photo Istoria Viazen</p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
        <button type="submit">{% trans 'Save' %}</button>
        <a href="{% url 'home' %}">{% trans 'Skip' %}</a> 
    </form>
    <script>
        const path = window.location.pathname.split('/');
        $("#id_istoriaviazen").val(path[1]);
    </script>
{% endblock %}
