{% extends 'map/base.html' %}
{% load widget_tweaks %}

{% block title %}Hatama istoria viazen {% endblock %}

{% block content %}
{% load i18n %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <div class="container">
        <div class="form-row">
            <div class="row">
                <div class="form-group col-12">
                    <h2>Hatama Istoria Viazen</h2>
                    <form method="post" enctype="multipart/form-data" novalidate>
                      {% csrf_token %}

                      {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}

                      {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}

                      {% for field in form.visible_fields %}
                        <div class="form-group">
                          {{ field.label_tag }}

                          {% if form.is_bound %}
                            {% if field.errors %}
                              {% render_field field class="form-control is-invalid" %}
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                            {% else %}
                              {% render_field field class="form-control is-valid" %}
                            {% endif %}
                          {% else %}
                            {% render_field field class="form-control" %}
                          {% endif %}

                          {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                          {% endif %}
                        </div>
                      {% endfor %}

                      <div class="form-group-button">
                          <button type="submit" class="btn btn-success btn-lg">
                              <span class="glyphicon glyphicon-ok"></span>{% trans 'Save' %}
                          </button>
                          <a href="{% url 'home' %}" class="btn btn-default btn-lg">{% trans 'Cancel' %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#id_date_0").datepicker({format: 'yyyy-mm-dd',});
            $("#id_date_1").datepicker({format: 'yyyy-mm-dd',});
        });
    </script>
{% endblock %}
