{% extends 'map/containered-base.html' %}
{% load widget_tweaks static i18n %}

{% block title %}{{ hatama_viazen }} {{ update_viazen }}{% endblock %}

{% block container_class %}edit-journey{% endblock %}

{% block container_content %}
    <div class="row">
        <div class="col form-title">
            <h3><span>{{ hatama_viazen }}{{ update_viazen }}</span></h3>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
        <div class="row">
            <div class="col-12 alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-12">
                {{ form.title.label_tag }}
                {% if not form.is_bound %}
                    {% render_field form.title class="form-control" autocomplete="off" %}
                {% elif form.title.errors %}
                    {% render_field form.title class="form-control is-invalid" autocomplete="off" %}
                    {% for error in form.title.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.title class="form-control is-valid" autocomplete="off" %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 select-date-trip">
                {{ form.duration_of_trip.label_tag }}
                {% if not form.is_bound %}
                    {% render_field form.duration_of_trip class="form-control" readonly="readonly" autocomplete="off" %}
                {% elif form.duration_of_trip.errors %}
                    {% render_field form.duration_of_trip class="form-control is-invalid" readonly="readonly" autocomplete="off" %}
                    {% for error in form.duration_of_trip.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.duration_of_trip class="form-control is-valid" readonly="readonly" autocomplete="off"%}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form.description.label_tag }}
                {% if not form.is_bound %}
                    {% render_field form.description class="form-control" cols="4" rows="4" %}
                {% elif form.description.errors %}
                    {% render_field form.description class="form-control is-invalid" cols="4" rows="4" %}
                    {% for error in form.description.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.description class="form-control is-valid" cols="4" rows="4" %}
                {% endif %}
            </div>
        </div>

        <div class="row choose-files">
            <div class="col">
                <input type="file" name="photos" accept="image/.jpeg, .jpg" multiple>
            </div>
        </div>

        <div class="row grid-gallery">
        {% for photo in object.photos.all %}
            <div class="col-12">
                <figure>
                    <img class="edit-img-display" width="200" title="{% trans 'View this image' %}" data-toggle="modal" data-target="#photo-{{ photo.id }}" src="{{ photo.image.url }}">
                    <a class="top-right" title="{% trans 'Delete this image' %}" href="{% url 'delete_photo' pk=photo.pk %}?next={{ request.path }}">X</a>
                </figure>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="photo-{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-img">
                    <div class="modal-content modal-img-content">
                        <div class="modal-body modal-img-body">
                            <img src='{{ photo.image.url }}' class="gallery-img" width="100%">
                            <a class="close top-right" data-dismiss="modal" aria-hidden="true">X</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endfor %}
        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-pull-right">{% trans 'Save Journey' %}</button>
                <a href='{% url "home" %}' class="btn btn-default btn-pull-right">{% trans 'Cancel' %}</a>
            </div>
        </div>
    </form>

<script>
    $(function () {
        $("#id_duration_of_trip_0").datepicker({
            Format: 'mm-dd-yyyy',
            minDate: "-1M",
            maxDate: "+0D",
            showButtonPanel: true
        });
        $("#id_duration_of_trip_1").datepicker({
            Format: 'mm-dd-yyyy',
            minDate: "-1M",
            maxDate: "+0D",
            showButtonPanel: true
        });
    });
</script>

{% endblock %}
